<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout-page}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client info</title>
</head>
<body>
<header layout:fragment="header_content">
    <header
            th:replace="fragments/loanoffer-header :: header(
            clientId=${client.id},
            clientName=${client.fullName} ?: 'Unknown',
            bankName=${client.bank.bankName} ?: 'Haulmont')"></header>
</header>
<div layout:fragment="site_content">
    <div class="card-body">
        <h3 class="card-title" th:text="${client.fullName}">name</h3>
        <p class="card-text" th:text="${client.phone}">phone</p>
        <p class="card-text" th:text="${client.email}">email</p>
        <p class="card-text" th:text="${client.passportNumber}">passportNumber</p>
        <!--            <p class="card-text" th:text="${client.id}">id</p>-->
        <div aria-label="Basic example" class="btn-group" role="group">
            <form th:action="'/clients/' + ${client.id} + '/edit'" th:method="get">
                <button class="btn btn-primary" type="submit">Edit</button>
            </form>
        </div>
        <div aria-label="Basic example" class="btn-group" role="group">
            <form th:action="'/clients/' + ${client.id} + '/delete'" th:method="post">
                <button class="btn btn-primary" type="submit">Delete</button>
            </form>
        </div>
    </div>
<!--    <hr/>-->
<!--    <button aria-controls="collapseExample" aria-expanded="false" class="btn btn-primary" data-bs-target="#collapseExample"-->
<!--            data-bs-toggle="collapse" type="button">-->
<!--        New Loan Offer-->
<!--    </button>-->
<!--    <div class="collapse" id="collapseExample">-->
<!--        <div class="card card-body text-white bg-dark">-->
<!--            <form class="row g-3 needs-validation" method="post" novalidate-->
<!--                  th:action="@{/loan-offer/new}" th:object="${loanOffer}">-->
<!--                <div class="container px-4">-->
<!--                    <div class="row g-3 align-items-center mt-1">-->
<!--                        <div class="col-md-2">-->
<!--                            <label for="credit">Credit</label>-->
<!--                        </div>-->
<!--                        <div class="col-md-5 position-relative">-->
<!--                            <select class="form-control" name="credit" id="credit" th:field="*{credit.id}">-->
<!--                                <option th:each="credit : ${credits}"-->
<!--                                        th:value="${credit.id}"-->
<!--                                        th:text="${credit.name + ' (' + credit.percent + ', ' + credit.creditLimit + ') '}">-->
<!--                                    Credit-->
<!--                                </option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    <div class="row g-3 align-items-center mt-1">-->
<!--                        <div class="col-md-2">-->
<!--                            <label for="amount">Amount credit: </label>-->
<!--                        </div>-->
<!--                        <div class="col-md-5 position-relative">-->
<!--                            <input class="form-control" id="amount" placeholder="Enter amount" required-->
<!--                                   th:field="*{amountCredit}" th:value="${loanOffer.amountCredit}"-->
<!--                                   type="number"/>-->
<!--                            <sub style="color:red" th:errors="*{amountCredit}"-->
<!--                                 th:if="${#fields.hasErrors('amountCredit')}">error</sub>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row g-3 align-items-center mt-1">-->
<!--                        <div class="col-md-2">-->
<!--                            <label class="form-label" for="quantityMonth">Quantity Month: </label>-->
<!--                        </div>-->
<!--                        <div class="col-md-5 position-relative">-->
<!--                            <input class="form-control" id="quantityMonth" placeholder="Enter quantity month" required-->
<!--                                   th:field="*{quantityMonth}"-->
<!--                                   th:value="${loanOffer.quantityMonth}" type="number"/>-->
<!--                            <sub style="color:red" th:errors="*{quantityMonth}"-->
<!--                                 th:if="${#fields.hasErrors('quantityMonth')}">error</sub>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row g-3 align-items-center mt-1">-->
<!--                        <div class="col-md-5 position-relative">-->
<!--                            <button class="btn btn-primary" type="submit">Submit form</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <input id="id" name="id" th:value="${client.id}" type="hidden"/>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
    <form class="d-grid gap-2 mt-5" th:action="'/clients'" th:method="get">
        <button class="btn btn-primary" type="submit">Clients</button>
        <input name="bankId" th:value="${bank.id}" type="hidden"/>
    </form>
</div>
</body>
</html>