<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header(bankId, bankName)">
    <div>
        <h3 class="float-md-start mb-0">[(${bankName})]</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a aria-current="page" class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/banks">Bank list</a>
            <a class="nav-link" th:href="@{/banks/{id}(id=${bankId})}" href="#">Bank [(${bankName})]</a>
            <a class="nav-link" th:href="@{/credits(bankId=${bankId})}" href="/credits">Credit list</a>
            <a class="nav-link" th:href="@{/credits/new(bankId=${bankId})}" href="/credits/new">New credit</a>
        </nav>
    </div>
</header>
</body>
</html>