<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--    как то нужно изменить ссылку th:action="@{/clients/edit}-->
<form class="row g-3 needs-validation" method="post" novalidate th:action="@{/clients/new}"
      th:fragment="form(client)" th:object="${client}">
    <div class="container px-4">
        <div class="row g-3 align-items-center mt-1">
            <div class="col-md-2">
                <label for="fullName">Full Name: </label>
            </div>
            <div class="col-md-5 position-relative">
                <input class="form-control" id="fullName" placeholder="Enter you full name" required
                       th:field="*{fullName}" th:value="${client.phone}" type="text"/>
                <sub style="color:red" th:errors="*{fullName}" th:if="${#fields.hasErrors('fullName')}">error</sub>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-1">
            <div class="col-md-2">
                <label class="form-label" for="phone">Phone</label>
            </div>
            <div class="col-md-5 position-relative">
                <input class="form-control" id="phone" placeholder="Enter you phone" required th:field="*{phone}"
                       th:value="${client.phone}" type="text"/>
                <sub style="color:red" th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}">error</sub>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-1">
            <div class="col-md-2">
                <label class="form-label ml" for="email">Email</label>
            </div>
            <div class="col-md-5 position-relative">
                <input class="form-control" id="email" placeholder="Enter you email" required th:field="*{email}"
                       th:value="${client.email}" type="text"/>
                <sub style="color:red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">error</sub>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-1">
            <div class="col-md-2">
                <label class="form-label" for="passportNumber">Passport number</label>
            </div>
            <div class="col-md-5 position-relative">
                <input class="form-control" id="passportNumber" placeholder="Enter you passport number" required
                       th:field="*{passportNumber}" th:value="${client.passportNumber}" type="text"/>
                <sub style="color:red" th:errors="*{passportNumber}" th:if="${#fields.hasErrors('passportNumber')}">error</sub>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-1">
            <div class="col-md-5 position-relative">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </div>
    </div>
    <input id="id" name="id" th:value="*{id}" type="hidden"/>
</form>
</body>
</html>