<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="form(bank, path)" th:object="${bank}">
    <form class="row g-3 needs-validation" method="post" novalidate
          th:action="@{/banks/{path}(path=${path})}">
        <div class="container px-4">
            <div class="row g-3 align-items-center mt-1">
                <div class="col-md-2">
                    <label for="bankName">Bank name: </label>
                </div>
                <div class="col-md-5 position-relative">
                    <input class="form-control" id="bankName" placeholder="Enter the name of the bank" required
                           th:field="*{bankName}" th:value="${bank.bankName}" type="text"/>
                    <sub style="color:red" th:errors="*{bankName}" th:if="${#fields.hasErrors('bankName')}">error</sub>
                </div>
            </div>
            <div class="row g-3 align-items-center mt-1">
                <div class="col-md-5 position-relative">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
        <input id="id" name="id" th:value="*{id}" type="hidden"/>
    </form>
</div>
</body>
</html>