<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout-page}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Credits</title>
</head>
<body>
<header layout:fragment="header_content">
    <header
            th:replace="fragments/credit-header :: header(bankId=${bank.id}, bankName=${bank.bankName} ?: 'Haulmont')"></header>
</header>
<div layout:fragment="site_content" class="container mt-3">
    <form action="/credits" class="row g-3 mt-3" method="post">
        <div class="col-sm-5">
            <input class="form-control" name="filter" placeholder="Search credit type"
                   th:value="*{filter}"
                   type="text">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary ml-2" type="submit">Search</button>
        </div>
    </form>
    <div th:if="${not #lists.isEmpty(credits)}" >
        <div class="mt-2" th:each="credit, i : ${credits}">
            <a th:href="@{/credits/{id}(id=${credit.id})}"
               th:text="${i.count} + '. '
                       + ${credit.name} + ' '
                       + ${credit.creditLimit} + ' '
                       + ${credit.percent}">Data</a>
        </div>
    </div>
</div>
</body>
</html>