<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout-page}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Main</title>
</head>
<body>
<header layout:fragment="header_content">
    <header th:replace="fragments/main-header :: header"></header>
</header>
<div layout:fragment="site_content">
    <div class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex flex-column">
                <h1 class="align-items-center">Haulmont welcomes you!!!</h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>