<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout-page}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<<head>
    <title>Edit bank</title>
</head>
<body>
<header layout:fragment="header_content">
    <header th:replace="fragments/bank-header :: header(bankName=${bank.bankName} ?: 'Haulmont')"></header>
</header>
<div layout:fragment="site_content">
    <form th:replace="fragments/form-new-edit-bank :: form(bank=${bank}, path=${path})"></form>
</div>
</body>
</html>